<div fxLayout="row">

<mat-form-field appearance="outline" fxFlex>
  <mat-label>
    Ajouter une section
  </mat-label>
  <input type="text" matInput [(ngModel)]="sectionName" (keyup.enter)="processInput()">
  <mat-icon matPrefix>add</mat-icon>
</mat-form-field>

</div>
