<mat-list>
  <mat-list-item *ngFor="let comment of comments">
    <h4 mat-line><span class="mat-caption">{{ comment.user }}, {{ formatDate(comment.timestamp) }}</span></h4>
    <p class="mat-body" mat-line>{{ comment.content }}</p>
  </mat-list-item>
</mat-list>

<form (submit)="appendComment(newComment)">
  <mat-form-field>
    <input matInput [(ngModel)]="newComment" name="newComment" placeholder="Ajouter un commentaire" />
    <button mat-button type="submit" [disabled]="!newComment" color="primary" matSuffix>Ajouter</button>
  </mat-form-field>
</form>
