.indicator-tree {
    ul, li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
}

mat-tree-node > * {
    flex: 1;
}

:host ::ng-deep .mat-button {
    width: 100%;
    text-align: left;
}

.section-display > button.delete-button {
    display: none;
}

.section-display:hover > button.delete-button {
    display: inline-block;
}

.drag-placeholder {
    height: 1px;
    width: 100%;
    background: none;
    border-top: 2px solid #4444ee;
    transition: transform 200ms ease;
}

.indicator-tree.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 500ms ease;
}
