:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.indicator-container {
    padding: 16px;
}

mat-sidenav {
    width: 400px;
}

:host ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}

mat-toolbar {
    transition: height .5s;

    &.home {
        height: 0;
    }

    img {
        margin: 0 16px;
    }
}

button.spare-menu-button {
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 10;
}
