<mat-toolbar class="sie-toolbar" color="primary">
  <button mat-icon-button *ngIf="isSmall && isAuthenticated" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h2 class="mat-h2">Système d'Information Energétique pour le Madagascar</h2>

  <div fxFlex></div>

  <img src="assets/meeh.48.png" alt="MEEH" [ngClass]="{ 'non-home': !isHome }" />
  <img src="assets/madagasikara.48.png" alt="Repoblikan'i Madagasikara" [ngClass]="{ 'non-home': !isHome }" />
  <button mat-icon-button [matMenuTriggerFor]="adminMenu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #adminMenu="matMenu">
  <a mat-menu-item routerLink="/mon-compte">Mon compte</a>
  <a mat-menu-item routerLink="/tache/correcture-joomla" *sieAuthorize="'data_admins'">Corriger liens en Joomla</a>
  <a mat-menu-item routerLink="/utilisateurs" *sieAuthorize="'user_admins'">Gérer comptes d'utilisateurs</a>
  <a mat-menu-item routerLink="/donnees/televerser" *sieAuthorize="'data_admins'">Importer des données</a>
</mat-menu>

<button mat-mini-fab color="primary" class="spare-menu-button" *ngIf="isSmall && isHome && !sidenav.opened"
  (click)="sidenav.toggle()">
  <mat-icon>menu</mat-icon>
</button>

<mat-sidenav-container fxFlex>
  <mat-sidenav #sidenav [mode]="sideMode" [(opened)]="sidenavOpen && isAuthenticated" class="indicator-container">
    <h3 mat-subheader class="mat-subheading-2">Tableaux de bord</h3>

    <sie-indicator-tree *ngIf="isAuthenticated"></sie-indicator-tree>

    <mat-divider></mat-divider>

    <div fxFlex></div>

    <a mat-button routerLink="/accueil">Accueil</a>
    <a mat-button routerLink="/mentions-legales">Mentions légales</a>

  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" style="overflow:hidden;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
