:host {
    padding: 16px;
    flex: 1 1;
    display: flex;
    flex-direction: column;

    #imprint-root {
        flex: 1 1;
    }
}

* {
    text-align: center;
}

h3.section-heading {
    margin-top: 64px;
}
