<div fxLayout="column" id="imprint-root">
  <h1 class="mat-h1">Mentions légales</h1>

  <p class="body-1">
    Un service du Ministère de l'Energie, de l'Eau et des Hydrocarbures.
  </p>

  <address>Contact: Immeuble Ex-DAIEC, Rue Tsiombikibo, Ambohijatovo Ambony</address>

  <div fxFlex></div>

  <h3 class="mat-h3 section-heading">Fournisseurs de données</h3>
  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="48px">
    <a href="http://www.jirama.mg/" target="_blank"><img src="assets/jirama.96.png" title="JIRAMA" /></a>
    <a href="https://ader.mg/" target="_blank"><img src="assets/ader.96.png" title="ADER" /></a>
    <a href="http://www.ore.mg/" target="_blank"><img src="assets/ore.96.jpg" title="ORE" /></a>
    <a href="https://www.instat.mg/" target="_blank"><img src="assets/instat.96.png" title="INSTAT" /></a>
    <a href="http://www.omh.mg" target="_blank"><img src="assets/omh.96.png" title="Office Malgache des Hydrocarbures" /></a>
  </div>

  <h3 class="mat-h3 section-heading">Une coopération de:</h3>

  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="48px">
      <a href="http://www.mineau.gov.mg/" target="_blank"><img src="assets/meeh.96.png" title="Ministère de l'Energie, de l'Eau et des Hydrocarbures" /></a>
      <a href="https://www.bmz.de" target="_blank"><img src="assets/cooperation.96.png" title="Coopération Allemande" /></a>
      <a href="https://www.giz.de" target="_blank"><img src="assets/gizlogo.96.png" title="GIZ" /></a>
  </div>

</div>
