@import '~@angular/material/theming';

:host {
    padding: 16px;
    overflow-y: auto;
}

#example-download {
    text-decoration: none;
}

.box {
    @include mat-elevation(2);

    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
