@import '~@angular/material/theming';

:host {
    display: flex;
    flex-direction: column;
}

section.step {
    @include mat-elevation(2);

    flex: 1;
    display: flex;
    flex-direction: column;

    margin: 8px;
    padding: 8px;
}

fieldset.non-visual {
    border: none;
    margin: 0;
    padding: 0;
}
