/* You can add global styles to this file, and also import other style files */

@import '~roboto-fontface/css/roboto/roboto-fontface.css';
$material-design-icons-font-path: '~material-design-icons-iconfont/dist/fonts/';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';

@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/indigo-pink.css';


$custom-typography: mat-typography-config(
    $body-1: mat-typography-level(16px, 24px, 400),
    $body-2: mat-typography-level(16px, 24px, 500),
    $button: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);

html {
    height: 100%;
}

body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
