<mat-nav-list>
  <a mat-button color="accent" routerLink="~nouveau">
    <mat-icon>add</mat-icon>
    Ajouter un nouveau compte d'utilisateur
  </a>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Utilisateurs</h3>
  <mat-list-item *ngFor="let user of $users | async">
    <a [routerLink]="user.username" fxFlex>{{ formatUser(user) }}</a>
    <button mat-icon-button (click)="delete(user.username)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
